.code-block {
    display: flex;
    align-items: center;
    flex-direction: column;

    .solved-cont>div {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        button {
            background-color: #004d40;
        }
    }

    button {
        margin: 0.5em;
        padding: 0.5em;
        font-size: 1em;
        border-radius: 5px;
    }

    .dark {
        background-color: #2F3129;
        color: #F6F6F6;
    }

    .light {
        background-color: #F6F6F6;
        color: #2F3129;
    }
}