//Colors
$main-color:  #574f7d;
$main-color-darker: #403a5c;
$secondary-color:  #c26464;
$clr-red: #e74c3c;
$clr-green: #27ae60;
// Breakpoints
$mobile-breakpoint: 580px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 910px;
$wide-breakpoint: 1200px;